@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* FIX
3- Estilizar las fuentes de todos los textos
4- buscar mejores colores para los text inputs.
6- Ver por qué no funciona el "focus"
*/

/*
COLORES: (verificar cuando ya no haya filtro flux)
Fondo: rgb(187, 80, 0)
Items: rgb(160, 160, 160)
Boxes: rgb(58, 78, 103)
Icons y títulos: rgb(32, 19, 53)
Texto: rgb(39, 39, 39)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* *:focus {
  outline: none;
  box-shadow: inset 0, 0, 0, 10px, rgb(32, 19, 53);
} */

/* GENERAL */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  padding: 0.5vw 0.5vw 0;
  min-height: calc(100vh - 11px);
  background-color: rgb(187, 80, 0);
}

h1 {
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: 2rem;
  color: rgb(32, 19, 53);
}

.main-container {
  display: grid;
  grid-template-columns: 49.5vw 49.5vw;
}

.left-side,
.right-side {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgb(187, 80, 0);
}

form {
  width: 100%;
  text-align: center;
}

.input {
}

.container {
  width: 100%;
}

.a-section,
.concequences-section {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* input text boxes */
.a-input,
.negative-emotions-input,
.negative-behavior-input {
  height: 2.8rem;
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.3rem;
  background-color: rgb(58, 78, 103);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(32, 19, 53);
}

.a-input::placeholder,
.negative-emotions-input::placeholder,
.negative-behavior-input::placeholder {
  font-family: inherit;
  font-size: 1.1rem;
  color: rgb(39, 39, 39);
  color: rgb(160, 160, 160);
}

.inputs {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-items: center;
  justify-content: space-between;
  background-color: rgb(187, 80, 0);
}

.box {
  height: 70vh;
  border-radius: 6px;
  overflow: scroll;
  margin-bottom: 1.6rem;
  background-color: rgb(58, 78, 103);
  /* border: 1px solid rgb(39, 39, 39); */
}

.box-item {
  padding: 6%;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 500;
  line-height: 1.3;
  background-color: rgb(160, 160, 160);
  color: rgb(39, 39, 39);
  border-bottom: 2px solid rgb(39, 39, 39);
}

.bottom-box {
  display: flex;
  justify-content: space-around;
}

/* ICONS */
.info-icon,
.btn-icon {
  width: 32px;
  height: 32px;
  stroke: rgb(39, 39, 39);
}

button {
  border: none;
  background-color: transparent;
}

button .btn-icon:hover,
.info-icon:hover {
  cursor: pointer;
}

/* -------------------- LEFT SIDE -------------------- */

/* ACONTECIMIENTO ACTIVADOR */
.a-section {
  margin-bottom: 5rem;
}

.a-input {
  width: 92%;
}

/* CREENCIAS IRRACIONALES */
.box-item--cri,
.box-item--question,
.box-item--answer {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* -------------------- RIGHT SIDE -------------------- */

/* CONCECUENCIAS (EMOCIONES Y CONDUCTAS) */
.concequences-section {
  margin-bottom: 1.57rem;
}

.negative-inputs-box {
  width: 92%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5px;
}

.negative-emotions-input,
.negative-behavior-input {
  text-align: left;
}

.negative-emotions-input {
  margin-bottom: 1rem;
}

/* EFECTO */
.box--effects {
  padding: 2rem 1rem;
}

label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.new-emotions-input,
.new-behavior-input {
  height: 30%;
  width: 90%;
  background-color: rgb(160, 160, 160);
  border-radius: 4px;
  padding: 0.5rem;
  color: rgb(39, 39, 39);
}

textarea::placeholder {
  font-family: inherit;
  color: #505050;
}

.new-emotions-input {
  margin-bottom: 1.8rem;
}

.info-icon--e {
  margin-right: 2.8rem;
}

/* -------------------- FOOTER -------------------- */
footer {
  background-color: rgb(187, 80, 0);
  height: 11px;
}

footer p {
  margin-left: 2.7rem;
  color: rgb(32, 19, 53);
  font-weight: 600;
}

/* -------------------- ADD ITEMS MODAL -------------------- */
.modal-container {
  position: absolute;
  padding: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(160, 160, 160);
  border: 2px solid rgb(39, 39, 39);
  border-radius: 6px;
  /* opacity: 40%; */
}

.modal-input {
  width: 25rem;
  height: 12rem;
  padding: 0.5rem;
  background-color: rgb(58, 78, 103);
  color: rgb(160, 160, 160);
}

.modal-input::placeholder {
  color: rgb(160, 160, 160);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.modal-btn {
  align-self: flex-end;
  padding: 0.2rem 0 0;
}

.modal-container--cri {
  top: 73.3%;
  left: 0.92%;
}

.modal-container--d {
  top: 73.3%;
  left: 25.1%;
}

.modal-container--crr {
  top: 73.3%;
  left: 50.42%;
}

/* -------------------- SHOW INFO MODALS -------------------- */
.modal-info {
  position: absolute;
  padding: 1rem;
  background-color: rgb(160, 160, 160);
  border: 2px solid rgb(39, 39, 39);
  border-radius: 6px;
  max-width: 31.7rem;

  color: rgb(32, 19, 53);
  line-height: 1.8;
  font-size: 1.1rem;
  font-weight: 600;
  list-style: square inside;
  text-align: left;
}

.modal-info--a {
  max-width: 48rem;
  top: 7.05%;
  left: 13%;
}

.modal-info--cri {
  bottom: 10%;
  /* top: 8.15%;
  left: 13.1%; */
}

.modal-info--d {
  bottom: 10%;
  /* top: 8.15%;
  left: 13.1%; */
}

.modal-info--c {
  top: 9.2%;
  right: 2.65%;
}

.modal-info--crr {
  bottom: 10%;
  /* transform: translateX(0.16%); */
  /* left: 13.1%; */
}

.modal-info--e {
  bottom: 10%;
  right: 1.58%;
}

/* -------------------- HIDDEN CLASS -------------------- */
.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
